@import url('https://fonts.googleapis.com/css2?family=Hedvig+Letters+Serif:opsz@12..24&family=Poppins:wght@600&display=swap');

html {
  height: 100%;
  width: 100%;
  font-family: 'Hedvig Letters Serif', serif;
}

.navbar {
  background-color: #e0f7ff;
  height: 60px;
  width: 100%;
  margin: 0px;
}

.nav_logo {
  cursor: pointer;
  display: inline-block;
  width: 60px;
  height: 60px;
  padding: 5px;
}

.corner_logo_img {
  width: 50px;
  height: 50px;
}

.home_logo_img {
  width: 100px;
  height: 100px;
  padding: 15px;
}

.menu_button {
  cursor: pointer;
  display: inline-block;
}


.home {
  margin: 40px;
  background-color: #dedede;
  height: 200px;
}

h1 {
  display: table-cell;
  vertical-align: center;
  font-size: 50px;
  font-weight: 400;
  color: #0f0f0f;
  text-align: right;
}